# Data files (too large for git)
data/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store


# Anaconda
*.egg-info/
dist/
build/
.idea

# test
test.py